* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

div#buscador {
background-color: rgb(255, 135, 135);
width: 50vw;
height: 4vh;
display: flex;
align-items: center;
padding: 0 0.2rem;
border-radius: 100vh;
}

div#buscador div#lupa {
    margin-left: auto;
    background-color: rgb(255, 28, 28);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vh;
}

div#buscador i.fa-magnifying-glass {
    font-size: 1.2rem;
}